<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="stylesheet" href="/static/style.css" />
    <title>Keenetic Remote Support Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <meta http-equiv="Referrer-Policy" content="origin-when-cross-origin" />
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self' https: ;
        style-src 'self' 'unsafe-inline' https: ;
        font-src 'self' https: ;
        img-src 'self' data: 'unsafe-eval' 'unsafe-inline' https: ;
        script-src 'self' https:  ;
    " />
    <script defer src="/static/script.js"></script>
</head>

<body>
    <noscript>2xx</noscript>
    <div id="template"></div>
</body>

</html>